[submodule "libs/rplidar"]
	path = libs/rplidar
	url = https://github.com/Slamtec/rplidar_sdk.git
[submodule "rosNodes/camera_ros"]
	path = rosNodes/camera_ros
	url = https://github.com/christianrauch/camera_ros.git
[submodule "rosNodes/sllidar_ros2"]
	path = rosNodes/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
